/* Variables */

:root {
  /* Background */
  --basic-background: #F1F5F7;
  --materials-background: #FFBF47;
  --instrumets-background: #3BBCE3;
  --technics-background: #DC91D8;
  --sale-background: #8ED78F;
  --delivery-background: #FFC047;
  --popular-goods-background: #F9F5F0;
  --soc-media-background: #212A3A;
  --letter-form-background: #F4F4F4;
    /* Border */
  --border-popgoods: #EAEAEA;
  /* Basic */
  --basic-black: #000000;
  --basic-super-dark:#1D2739;
  --basic-extra-dark: #293449;
  --basic-dark: #32425C;
  --basic-white: #ffffff;
  --basic-neutral: #A9A9A9;
  --basic-light: #C1C6CE;
  --basic-extra-light: #C5C5C5;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-blue: #f3f7f9;
  /* Interaction */
  --click-header: #1D2739;
  --hover-green-button: #5FBB2D;
  --click-green-button: #518534;
  --hover-red-button: #CA2C37;
  --click-red-button: #BA2732;
  --hover-login-button: #3D546F;
   /* Text */
  --text-footer-nav: #FFDA96;
}
/* INDEX */

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  width:auto;
}

p {
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.h2-black {
  color: var(--basic-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

/* Header */

.main-header {
  padding-bottom: 60px;
  background-color: var(--basic-blue);
}
.inner-page .main-navigation-wrapper {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.inner-page {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* High-header */

.main-header-bar {
  background-color: var(--basic-extra-dark);
}

.bookmark {
  display: flex;
  position: relative;
  padding: 9px 0 9px 50px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: none;
  background-color: inherit;
  border: none;
}
.basket {
  display: flex;
  position: relative;
  padding: 9px 0 9px 50px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: none;
  background-color: inherit;
  border: none;
}

.order {
  display: flex;
  position: relative;
  width: 150px;
  text-align: center;
  justify-content: center;
  padding: 9px 0 9px 0;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.order:hover{
  background-color: var(--hover-green-button);
}

.order:focus{
  background-color: var(--click-green-button);
}

.main-footer-bar{
  background-color: var(--basic-extra-dark);
}

.main-high-header {
  display: grid;
  grid-template-columns: 220px 271px 150px 150px 150px;
  width: 940px;
  color: var(--basic-white);
}

.main-high-header a{
  color: var(--basic-white);
}

/* Main navigation */

.main-navigation {
  display: grid;
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.main-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basic-dark);
  width: 940px;
  margin: 0 auto;
}

/* Site navigation */

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-super-dark);
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  color: var(--basic-white);
  display: block;
  padding: 20px;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-dark);
}

/* User-navigation */

.user-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 69px;
  background-color: var(--basic-white);
  width: 940px;
  margin: 0 auto;
  padding-top: 42px;
  background-color: var(--basic-blue);
}

.tagline p{
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  margin-left: 30px;
  margin-bottom: 44.5px;
  color: var(--basic-red);
}

.contact {
  width: 270px;
  justify-self: center;
}
.contact-phone {
  font-weight: bold;
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
}

.contact-phone:hover {
  text-decoration: underline;
}

.contact-phone:focus {
  color: var(--basic-background);
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-dark);
  margin-bottom: 40px;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.login-link{
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0 67px 69px;
  padding: 12px 27px 12px 45px;
  font-size: 21px;
  line-height: 21px;
  margin-left: 10px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.reg-link{
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0 67px 10px;
  padding: 12px 24px;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  color: var(--basic-black);

}

.profile a:hover {
  color: var(--basic-red);
}
.profile a:focus {
  color: var(--basic-extra-light);
}

/* Container */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}


/* Button */

.button {
  display: inline-block;
  padding: 10px 30px;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: none;
}

.features-button{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 135px;
  background-color: var(--basic-white);
  opacity: 0.3;
  margin: 64px 142px 21px 22px;
  padding: 10px 0;
}

.button-green{
  display: flex;
  padding: 10px 25px;
  margin: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.button-wg {
  display: flex;
  padding: 10px 25px;
  margin: 40px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.button-wg {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
}

.button-wg:hover{
  border: 3px solid var(--basic-dark);
}

.button-wg:focus{
  border: 3px solid var(--basic-dark);
}

.button-red {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.button-red:hover{
  background-color: var(--hover-red-button);
}

.button-red:focus{
  background-color: var(--click-red-button);
}

.button-green {
  color: var(--basic-white);
  background-color: var(--basic-green);
}
.button-green:hover{
  background-color: var(--hover-green-button);
}
.button-green:focus{
  background-color: var(--click-green-button);
}

.button_footer{
  padding: 0;
}

/* Features */

.features {
  margin-bottom: 80px;
}

.features-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  margin: 0;
  margin-top: 59px;
  padding: 0;
  list-style: none;
}

.features-item {
  display: flex;
  position: relative;
  text-align: left;
  z-index: 1;
}

.features h3 {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  padding-left: 23px;
}

.features-item-material {
  position:relative;
  background:var(--materials-background) url("../img/icon/icon-1_materials.svg") no-repeat 83% 53%;
}

.features-item-instrument {
  background:var(--instrumets-background) url("../img/icon/icon-2_inst.svg") no-repeat 87% 53%;
}

.features-item-equipment {
  background:var(--technics-background) url("../img/icon/icon-3_tech.svg") no-repeat 87% 53%;
}

.features-item-delivery {
  grid-column: 3/3;
  grid-row: 3/3;
  background:var(--delivery-background) url("../img/icon/icon-5_delivery.svg") no-repeat 87% 53%;
}

.features-item-sale {
  grid-column-start: 3/3;
  grid-row: 2/3;
  background:var(--sale-background) url("../img/icon/icon-4_sale.png") no-repeat 87% 53%;
}

.features-item-gallery {
  grid-column: 1/3;
  grid-row: 2/3;

}

/* Gallery */

.gallery-content{
  position: relative;
  width: 620px;
  height: 266px;
  margin: 0;
  z-index: 1;
}

.slide-box{
  display: flex;
  height: 266px;
  align-items: center;
  justify-content: center;
}

.gallery-content img {
  position: absolute;
  z-index: -1;
}

.slide-control {
  position:absolute;
  bottom: 0;
  margin: 0;
  left: 48%;
  display: flex;
  justify-content: space-between;
}

.gallery-content h2{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 26px 0 0 24px;
  color: var(--basic-white);
}

.gallery-content p{
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin: 4px 0 0 24px;
}

.gallery-content .button-red{
  margin: 114px 0 27px 24px;
}

/* Popular goods */

.popgoods-caption{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 20px;
  align-items:center;
  background-color: var(--popular-goods-background);
}

.popgoods-list {
  display:flex;
  justify-content:space-between;
  margin: 20px 0;
  list-style: none;
}

.popgoods-list li{
  margin-right: 20px;
}

.popgoods-list li:last-child {
  margin-right: 0;
}

.popgoods-item {
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 220px;
  border: 1px solid var(--border-popgoods);
  text-align: center;
  padding-bottom: 21px;
  margin-bottom: 70px;
}


.popgoods-item:hover{
  box-shadow: 0px 4px 20px var(--border-popgoods);
  }

.popgoods-item:active{
  opacity: 0.3;
  box-shadow: 0px 4px 20px var(--border-popgoods);
  }


.pic-box{
  display: flex;
  height: 167px;
  width: 184px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.popgoods-item h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.popgoods-item del {
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-white);
  color: var(--basic-neutral);
  font-weight: bold;
}

.popgoods-item p {
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-weight: bold;
}


/* Popular manufacturers */

.popmanufacturers-item h3 {
  font-size: 18px;
  line-height: 20px;
}

.popmanufacturers-caption {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 20px;
  align-items:center;
  background-color: var(--popular-goods-background);
}

.popmanufacturers-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  align-content: start;
  gap: 20px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  grid-column-start: 1;
  list-style: none;
}

.popmanufacturers-item {
  display: flex;
  border: 1px solid var(--border-popgoods);
  text-align: center;
  height: 145px;
  align-items: center;
  justify-content: center;
}

.popmanufacturers-item:hover{
  box-shadow: 0px 4px 20px var(--border-popgoods);
  }

.popmanufacturers-item:active{
  opacity: 0.3;
  box-shadow: 0px 4px 20px var(--border-popgoods);
  }

/* Services */

.services {
  background: var(--basic-background);
  padding-bottom: 128px;
  margin-bottom: 70px;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-service {
  grid-column: 1/3;
  margin-bottom: 70px;
}

.service-list {
  grid-column-start: 1;
  margin: 0;
  padding: 0;
}

.delivery-slide {
  grid-column: 2/-1;
}

/* Ð¡ompany */

.company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;

}

/* Footer */

.main-footer {
  background-color: var(--basic-dark);
}
.main-footer p{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

/* high-footer */

.main-high-footer {
  display: grid;
  grid-template-columns: 320px 620px;
}

.footer-info {
  margin-top: 90px;
}

.site-navigation{
  font-size: 18px;
  line-height: 24px;
}

.top-navigation {
  display: flex;
  height: 60px;
  align-items: flex-end;
  list-style: none;
  margin-top: 37px;
}

.bottom-navigation {
  display: flex;
  height: 60px;
  align-items: flex-end;
  list-style: none;
  margin: 0 0 74px 22px;
}

.top-navigation a:hover{
  text-decoration:underline;
  background-color: inherit;
}
.bottom-navigation a{
  color: var(--text-footer-nav);
}
.bottom-navigation a:hover{
  text-decoration:underline;
  background-color: inherit;
}

.top-navigation a:focus{
  text-decoration:underline;
  background-color: inherit;
  opacity: 0.5;
}
.bottom-navigation a:focus{
  text-decoration:underline;
  background-color: inherit;
  opacity: 0.5;
}

/* low-footer */

.main-low-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-extra-dark);
}

.footer-rulls {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  justify-self: start;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 132px;
  justify-self: center;
  text-align: center;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-top: 34px;
  margin-bottom: 29px;
  background-color: var(--soc-media-background);
  border-radius: 25px;
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
}

.footer-copyright p {
  display: block;
  justify-content: space-between;
  width: 137px;
  padding: 0;
  margin-top: 35px;
}

.footer-copyright a {
  color: var(--text-footer-nav);
  background-color: var(--basic-extra-dark);
}

.footer-copyright .button:hover{
  text-decoration: underline;
}

.footer-copyright .button:focus {
  color: var(--basic-red);
}


.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.modal-login h2 {
  font-size: 18px;
  line-height: 24px;
}

.inner-page .main-footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
  background-image: url("../img/Layer_footer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 42px;
}

.page-catalog .breadcrumbs {
  grid-column: 1 / -1;
}

.breadcrumbs a {
  color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

/* Catalog */

.page-catalog .page-title {
  display: flex;
  justify-content: stretch;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 29px 739px 30px 29px;
  align-items:center;
  background-color: var(--basic-background);
  color: var(--basic-dark);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.template-columns {
  display: grid;
  grid-template-columns: 220px 700px;
  grid-gap: 20px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
}

.catalog-item{
  width: 220px;
  min-height: 285px;
  margin-right: 20px;
  margin-bottom: 20px;
  align-items:center;
  border: 1px solid var(--border-popgoods);
  text-align:center;
}


.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-image {
  display: flex;
  height: 167px;
  width: 184px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.catalog-item del {
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-white);
  color: var(--basic-neutral);
  font-weight: bold;
}

.catalog-item p {
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-weight: bold;
}
.catalog-item:hover{
  box-shadow: 0px 4px 20px var(--border-popgoods);
  }

.catalog-item:active{
  opacity: 0.3;
  box-shadow: 0px 4px 20px var(--border-popgoods);
  }


.catalog-info {
  background: var(--basic-background);
  margin-top: 59px;
  padding-bottom: 68px;
  padding-top: 64px;
}

.catalog-info p{
  margin-top: 25px;
}
.pagination-list {
  list-style: none;
}

.pagination-link {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: #E5E5E5;
}

.pagination-link:hover {
  border: var(--basic-extra-light);
}

.pagination-link:focus{
  border: var(--basic-red);
}
.pagination-link:active {
  background-color: var(--basic-red);
}

.pagination-link-current,
.pagination-link-current:hover{
  border: var(--basic-extra-light);
}
.pagination-link-current:focus{
  border: var(--basic-red);
}
.pagination-link-current:active {
  color: var(--basic-black);
  background-color: var(--basic-red);
}
/* Filters */

.filters {
  width: 220px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  border: none;
}


.filter legend {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.filter label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}


.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}


.filter-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  padding: 10px 150px 10px 18px;
  background-color: var(--popular-goods-background);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  color:var(--basic-black);
}

/* Sort */

.sort h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  padding: 10px 600px 10px 19px;
  margin-bottom: 28px;
  background-color: var(--popular-goods-background);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.sort {
  display: flex;
  justify-content: space-between;
}

.sort-values{
  list-style: none;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 140px;
}

.up{
  width: 0;
  margin-top: 3px;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.down{
  width: 0;
  margin-top: 3px;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.filter ul {
  list-style: none;
  line-height: 18px;
}

.filters h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-black);
}


/* Input */
.input {
  border: 2px solid #C5C5C5;
  border-radius: 2px;
  height: 38px;
}

.input:focus {
  border-color: var(--basic-black);
}

.input-textarea {
  height: 114px;
}

/* Letter form */

.input-name input[type="name"],
.input-e-mail input[type="email"],
.input-textarea input[type="text"] {
  font: inherit;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 2px solid var(--basic-extra-light);
}
.letter-form label {
font-size: 18px;
line-height: 24px;
}



