/* Variables */

:root {
  /* Background */
  --basic-background: #F1F5F7;
  --materials-background: #FFBF47;
  --instrumets-background: #3BBCE3;
  --technics-background: #DC91D8;
  --sale-background: #8ED78F;
  --delivery-background: #FFC047;
  --popular-goods-background: #F9F5F0;
  --soc-media-background: #212A3A;
  --letter-form-background: #F4F4F4;
  /* Basic */
  --basic-black: #000000;
  --basic-super-dark:#1D2739;
  --basic-extra-dark: #293449;
  --basic-dark: #32425C;
  --basic-white: #ffffff;
  --basic-neutral: #A9A9A9;
  --basic-light: #C1C6CE;
  --basic-extra-light: #C5C5C5;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  /* Interaction */
  --click-header: #1D2739;
  --hover-green-button: #5FBB2D;
  --click-green-button: #518534;
  --hover-red-button: #CA2C37;
  --click-red-button: #BA2732;
  --hover-login-button: #3D546F;
   /* Text */
  --text-footer-nav: #FFDA96;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.inner-page .main-header {
  color: var(--basic-white);
  background-color: var(--basic-dark);
  background-image: url("../img/Layer_footer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Main navigation */

.main-navigation {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.main-navigation-wrapper {
  background-color: var(--basic-dark);
}

.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-dark);
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.button-red {
  background-color: var(--basic-red);
  color: var(--basic-white);
}
.button-red:hover{
  background-color: var(--hover-red-button);
}
.button-red:focus{
  background-color: var(--click-red-button);
}

.button-green {
  color: var(--basic-white);
  background-color: var(--basic-green);
}
.button-green:hover{
  background-color: var(--hover-green-button);
}
.button-green:focus{
  background-color: var(--click-green-button);
}

.login-link,
.reg-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* User navigation */


.site-navigation a,
.user-navigation a {
  color: var(--basic-white);
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-super-dark);
}

/* Features */
.features-list {
  list-style: none;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
}

/* Gallery */

.gallery-content {
  background-color: var(--basic-white);
}

.h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.h2-black {
  color: var(--basic-black);
}

}
/* Popular goods */

.popgoods-list {
  list-style: none;
}

.popgoods-item h3 {
  font-size: 18px;
  line-height: 20px;
}

.popgoods-item p {
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-white);
  color: var(--basic-neutral);
}

.popgoods-item a {
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
}


/* Popular manufacturers */

.popmanufacturers-list {
  list-style: none;
}

.popmanufacturers-item h3 {
  font-size: 18px;
  line-height: 20px;
}

/* Contacts */

.contacts-phone {
  color: inherit;
}

.inner-page .main-footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
  background-image: url("../img/Layer_footer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
}

/* Breadcrumbs */
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

/* Filters */

.filter legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filters h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-black);
}

/* Sort */
.sort h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

/* Catalog */

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: var(--basic-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.catalog-item a {
  color: var(--basic-black);
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 20px;
}


.catalog-item p {
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-white);
  color: var(--basic-neutral)
}

.pagination-list {
  list-style: none;
}

.pagination-link {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: #E5E5E5;
}

.pagination-link:hover {
  border: var(--basic-extra-light);
}

.pagination-link:focus{
  border: var(--basic-red);
}
.pagination-link:active {
  background-color: var(--basic-red);
}

.pagination-link-current,
.pagination-link-current:hover{
  border: var(--basic-extra-light);
}
.pagination-link-current:focus{
  border: var(--basic-red);
}
.pagination-link-current:active {
  color: var(--basic-black);
  background-color: var(--basic-red);
}

/* Footer */

.footer-contacts a {
  color: var(--basic-white);
}

.footer-contacts a:hover {
  text-decoration: underline;
}

.footer-contacts a:focus {
  color: var(--basic-background);
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 16px;
}

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

.footer-copyright a {
  color: var(--text-footer-nav);
}

.footer-copyright .button:hover{
  text-decoration: underline;
}

.footer-copyright .button:focus {
  color: var(--basic-red);
}

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.modal-login h2 {
  font-size: 18px;
  line-height: 24px;
}

/* Input */
.input {
  border: 2px solid #C5C5C5;
  border-radius: 2px;
  height: 38px;
}

.input:focus {
  border-color: var(--basic-black);
}

.input-textarea {
  height: 114px;
}

/* Letter form */

.input-name input[type="name"],
.input-e-mail input[type="email"],
.input-textarea input[type="text"] {
  font: inherit;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 2px solid var(--basic-extra-light);
}
.letter-form label {
font-size: 18px;
line-height: 24px;
}



