/* Variables */

:root {
  /* Background */
  --basic-background: #F1F5F7;
  --materials-background: #FFBF47;
  --instrumets-background: #3BBCE3;
  --technics-background: #DC91D8;
  --sale-background: #8ED78F;
  --delivery-background: #FFC047;
  --popular-goods-background: #F9F5F0;
  --soc-media-background: #212A3A;
  --letter-form-background: #F4F4F4;
  /* Basic */
  --basic-black: #000000;
  --basic-super-dark:#1D2739;
  --basic-extra-dark: #293449;
  --basic-dark: #32425C;
  --basic-white: #ffffff;
  --basic-neutral: #A9A9A9;
  --basic-light: #C1C6CE;
  --basic-extra-light: #C5C5C5;
  --basic-red: #EE3643;
  /* Interaction */
  --click-logo: #BA2732;
  --click-header: #1D2739;
  --quiet-botton-buy: #63A63E;
  --touch-quiet-botton-buy: #5FBB2D;
  --click-botton-buy: #518534;
  --touch-catalog-botton: #CA2C37;
  --touch-login-botton: #3D546F;
   /* Text */
  --text-footer-nav: #FFDA96;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.main-navigation-wrapper {
  background-color: var(--basic-dark);
}

.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-dark);
}

/* User navigation */


.site-navigation a,
.user-navigation a {
  color: var(--basic-white);
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-super-dark);
}
