:root {
  --basic-background: #f1f5f7;
  --materials-background: #ffbf47;
  --instrumets-background: #3bbce3;
  --technics-background: #dc91d8;
  --sale-background: #8ed78f;
  --delivery-background: #ffc047;
  --popular-goods-background: #f9f5f0;
  --soc-media-background: #212a3a;
  --letter-form-background: #f4f4f4;
  --filter-background: #f7f3ec;
  --toggle-color: #ababab;
  --background-bar-focus: #161d29;
  --radio-hover: #b5b5b5;
  --border-popgoods: #eaeaea;
  --basic-border: #e5e5e5;
  --dark-shadow-service: #405069;
  --scale-color: #d7dcde;
  --basic-black: #000000;
  --basic-super-dark: #1d2739;
  --basic-extra-dark: #293449;
  --basic-dark: #32425c;
  --basic-white: #ffffff;
  --basic-neutral: #a9a9a9;
  --basic-light: #c1c6ce;
  --basic-extra-light: #c5c5c5;
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-blue: #f3f7f9;
  --green-shadow: #367315;
  --click-header: #1d2739;
  --hover-green-button: #5fbb2d;
  --click-green-button: #518534;
  --hover-red-button: #ca2c37;
  --click-red-button: #ba2732;
  --hover-login-button: #3d546f;
  --text-footer-nav: #ffda96;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

p {
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
  letter-spacing: -0.9px;
  margin: 0;
  padding: 0;
}

.h2-black {
  color: var(--basic-black);
  letter-spacing: -0.9px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  position: relative;
  display: inline-flex;
  line-height: 1;
  text-align: center;
  background-color: var(--basic-red);
}

.logo::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 100%;
  height: 6px;
  width: 100%;
  background-color: var(--click-red-button);
}

.header-logo {
  padding: 12px 56px 12px 56px;
}

.footer-logo {
  padding: 20px 41px 20px 41px;
  width: 138px;
}

.page {
  height: 100%;
}

.main-header {
  padding-bottom: 60px;
  background-color: var(--basic-blue);
}
.inner-page .main-navigation-wrapper {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.inner-page {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main-header-bar {
  background-color: var(--basic-extra-dark);
}

input[type="search"] {
  width: 271px;
  height: 42px;
  border: none;
  padding: 9px 0 9px 42px;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  color: var(--basic-black);
  background: var(--basic-extra-dark) url("../img/icon/icon-search.svg")
    no-repeat 17px 12px;
}

.searching::placeholder {
  color: var(--basic-white);
  font-family: "Cuprum", "Arial", sans-serif;
}

.search-form input[type="search"]:hover {
  background: var(--basic-extra-dark) url("../img/icon/icon-search-hover.svg")
    no-repeat 17px 12px;
}
.search-form input[type="search"]:active,
.search-form input[type="search"]:focus {
  color: var(--basic-black);
  background: var(--basic-white) url("../img/icon/icon-search-focus.svg")
    no-repeat 17px 12px;
}

.bookmark {
  position: relative;
  padding: 9px 38px 9px 42px;
  width: 83px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: none;
  background-color: inherit;
  border: none;
}

.bookmark::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bookmark:hover::before {
  background-image: url("../img/icon/icon-bookmark-active.svg");
}
.bookmark:focus::before,
.bookmark:active::before {
  background-image: url("../img/icon/icon-bookmark.svg");
}

.bookmark:focus {
  background-color: var(--background-bar-focus);
  color: var(--basic-white);
  opacity: 0.5;
}

.basket {
  display: flex;
  position: relative;
  padding: 9px 0 9px 35px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: none;
  background-color: inherit;
  border: none;
}

.catalog-basket {
  padding: 9px 0 9px 35px;
  width: 101px;
  background-color: var(--basic-red);
}

.basket::before,
.catalog-basket::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket:hover::before,
.catalog-basket:hover::before {
  background-image: url("../img/icon/icon-cart-active.svg");
}
.basket:focus::before,
.basket:active::before,
.catalog-basket:focus::before,
.catalog-basket:active::before {
  background-image: url("../img/icon/icon-cart.svg");
}

.catalog-basket::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.order {
  display: flex;
  position: relative;
  width: 150px;
  text-align: center;
  justify-content: center;
  padding: 9px 0 9px 0;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.order:hover {
  background-color: var(--hover-green-button);
}

.order:focus {
  background-color: var(--click-green-button);
  color: rgba(255, 255, 255, 0.5);
}

.main-footer-bar {
  background-color: var(--basic-extra-dark);
}

.main-high-header {
  display: grid;
  grid-template-columns: 220px 271px 163px 136px 150px;
  width: 940px;
  color: var(--basic-white);
}

.main-high-header a {
  color: var(--basic-white);
}

.main-navigation {
  display: grid;
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-dark);
  width: 940px;
  margin: 0 auto;
  box-shadow: inset 0 -5px 0 var(--basic-extra-dark);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a {
  display: inline-flex;
  padding: 16px 28px 20px 28px;
  color: var(--basic-white);
  cursor: pointer;
}

.site-navigation :hover {
  background-color: var(--basic-extra-dark);
}
.site-navigation :focus {
  background-color: var(--basic-super-dark);
  color: rgba(255, 255, 255, 0.5);
}

.user-navigation {
  display: grid;
  grid-template-columns: 300px 340px 300px;
  width: 940px;
  margin: 0 auto;
  padding-top: 42.5px;
  padding-bottom: 40px;
  background-color: var(--basic-blue);
}

.tagline {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  padding-left: 30px;
  color: var(--basic-red);
}

.contact {
  margin: 0;
  padding: 0;
}

.contact-phone {
  display: inline-block;
  position: relative;
  font-weight: bold;
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  padding: 4px 42px 5px 71px;
  margin-top: 3.5px;
  margin-left: 20px;
  border: 3px solid var(--basic-white);
}

.contact-phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 39px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon/phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contact-phone:hover {
  text-decoration: underline;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-dark);
  margin: 3px 0 0 0;
  padding-left: 30px;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.account {
  position: relative;
  display: flex;
  align-items: center;
  width: 299px;
  height: 45px;
  padding-left: 56px;
  background: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.account::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon/user.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.account:hover::before {
  background-image: url("../img/icon/icon-user-active.svg");
}
.account:focus::before,
.account:active::before {
  background-image: url("../img/icon/user.svg");
}

.account::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 262px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon/logout.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.account:hover::after {
  background-image: url("../img/icon/icon-logout-active.svg");
}
.account:focus::after,
.account:active::after {
  background-image: url("../img/icon/logout.svg");
}

.orders,
.personal-area {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark);
  text-decoration: none;
  text-transform: inherit;
  align-items: center;
  text-align: center;
}

.orders {
  padding: 7px 32px 0 44px;
}
.personal-area {
  padding: 7px 45px 0 0;
}

.orders::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 88%;
  width: 4px;
  height: 4px;
  background: #32425c;
  border-radius: 50%;
}

.profile {
  display: flex;
  justify-content: space-between;
}
.login-link {
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 12px 27px 12px 45px;
  height: 21px;
  margin-left: 19px;
  margin-top: 3.5px;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.login-link::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon/login.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover::before {
  background-image: url("../img/icon/icon-login-active.svg");
}
.login-link:focus::before,
.login-link:active::before {
  background-image: url("../img/icon/login.svg");
}

.reg-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
  padding: 12px 24px;
  margin-top: 3.5px;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.profile a:hover {
  color: var(--basic-red);
}
.profile a:focus {
  color: var(--basic-extra-light);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: none;
}

.catalog-button {
  border: 1px solid var(--basic-border);
  padding: 10px 79px 10px 78px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  margin-top: 14.5px;
  cursor: pointer;
}

.features-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--basic-white);
  margin-right: 142px;
  padding: 10px 0;
}

.features-button:hover {
  background-color: rgba(197, 197, 197, 0.3);
}
.features-button:focus {
  background-color: rgba(169, 169, 169, 0.3);
}

.button-green {
  display: flex;
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  width: 135px;
  padding: 10px 12px 10px 25px;
  margin: 38px 44px 10px 41px;
  align-items: center;
  justify-content: center;
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 var(--green-shadow);
}

.button-green:hover {
  background-color: var(--hover-green-button);
}
.button-green:focus,
.button-green:active {
  background-color: var(--click-green-button);
  border: none;
}

.button-green::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 30px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-red {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.button-red:hover {
  background-color: var(--hover-red-button);
}

.button-red:focus {
  background-color: var(--click-red-button);
}

.button_footer {
  padding: 0;
  text-transform: none;
  font-size: 16px;
  line-height: 18px;
}

.features {
  margin-bottom: 59px;
  margin-top: 59px;
}

.features-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
}

.features-item {
  text-align: left;
  z-index: 1;
}

.features h3 {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  margin: 0 0 14px 0;
  padding: 0 25px 0 0;
}

.features-item-material {
  position: relative;
  padding: 20px 23px 21px 23px;
  background: var(--materials-background)
    url("../img/icon/icon-1_materials.svg") no-repeat 83% 53%;
}

.new-long::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background: url("../img/icon/new.svg") no-repeat;
}
.features-item-instrument {
  padding: 20px 23px 21px 23px;
  background: var(--instrumets-background) url("../img/icon/icon-2_inst.svg")
    no-repeat 87% 53%;
}

.features-item-equipment {
  padding: 20px 23px 21px 23px;
  background: var(--technics-background) url("../img/icon/icon-3_tech.svg")
    no-repeat 87% 53%;
}

.features-item-delivery {
  grid-column: 3/3;
  grid-row: 3/3;
  padding: 20px 23px 21px 23px;
  background: var(--delivery-background) url("../img/icon/icon-5_delivery.svg")
    no-repeat 87% 53%;
}

.features-item-sale {
  grid-column-start: 3;
  grid-row: 2/3;
  padding: 20px 23px 21px 23px;
  background: var(--sale-background) url("../img/icon/icon-4_sale.png")
    no-repeat 83% 53%;
}

.features-item-gallery {
  grid-column: 1/3;
  grid-row: 2/4;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-content {
  position: relative;
  width: 620px;
  height: 266px;
  margin: 0 10px 0 0;
  z-index: 1;
}
.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 295px;
  top: 220px;
  z-index: 20;
  display: flex;
  width: 30px;
  justify-content: space-between;
}

.slider-controls button {
  position: relative;
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
}

.slider-controls .current::after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  background-color: var(--basic-red);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.slider-controls-arrow {
  position: absolute;
  width: 578px;
  left: 24.9px;
  top: 122px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
}

.slider-controls-arrow button {
  padding: 0;
  width: 22px;
  height: 40px;
  background-color: transparent;
  background-image: url("../img/icon/icon-left.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}

.slider-controls-arrow button[disabled] {
  cursor: not-allowed;
}

.slider-controls-arrow button:not([disabled]):hover {
  opacity: 0.6;
}

.slider-controls-arrow button:not([disabled]):hover {
  opacity: 0.3;
}

.button-right {
  transform: rotate(-180deg);
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls .current {
  background-color: var(--basic-white);
}

.slide-box {
  min-height: 216px;
  position: relative;
  padding: 23px 24px 27px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slide-shadow {
  width: 620px;
  height: 104px;
  background: rgba(0, 0, 0, 0.25);
}

.slider-list img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  color: var(--basic-white);
  text-transform: uppercase;
}

.slide-box p {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin-top: 5px;
}

.gallery-content .button-red {
  margin-top: 97px;
  padding: 11px 46px 9px 46px;
}

.popgoods-caption {
  display: flex;
  justify-content: space-between;
  padding: 25px 14px 26px 28px;
  margin-bottom: 20px;
  align-items: center;
  background-color: var(--popular-goods-background);
}
.popgoods-caption .button-red {
  padding: 11px 24px 9px 24px;
}

.product-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.product-list--popular {
  grid-template-columns: repeat(4, 1fr);
}
.product-list--catalog {
  grid-template-columns: repeat(3, 1fr);
}

.product-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  border: 1px solid var(--border-popgoods);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.new.product-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background: url("../img/icon/new.svg") no-repeat;
}

.product-item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.product-item:hover .product--buttons {
  z-index: 1;
  opacity: 1;
  pointer-events: initial;
}

.product-item:focus-within {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.product-item:focus-within .product--buttons {
  z-index: 1;
  opacity: 1;
  pointer-events: initial;
}

.product-item .button {
  display: inline-flex;
}

.product-item * {
  box-sizing: inherit;
}

.product-item *::after {
  box-sizing: inherit;
}

.product-item *::before {
  box-sizing: inherit;
}

.product-item--top {
  position: relative;
  padding: 6px 18px 8px 18px;
  min-height: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product--buttons {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 38px 41px 38px 41px;
  background-color: var(--basic-white);
  font-family: "Cuprum", Arial, sans-serif;
}

.product--buttons .buy--button {
  justify-content: center;
}

.product--buttons .bookmarks--button {
  justify-content: center;
}

.product-item--content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 17px 21px 18px;
}

.product--info-block {
  flex-grow: 1;
  margin-bottom: 7px;
}

.product--title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: inherit;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 20px;
  font-weight: inherit;
}

.product--old-price {
  margin-top: 0;
  margin-bottom: 13px;
  text-align: center;
  font-family: inherit;
  font-weight: inherit;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-neutral);
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.product--price {
  position: relative;
  margin: 0 15px 0 28px;
  padding: 10px 20px 10px 32px;
  width: 100%;
  max-width: 122px;
  color: var(--basic-white);
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  font-weight: inherit;
  background-color: var(--basic-red);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.product--price::after {
  content: " ";
  position: absolute;
  top: 0;
  right: -38px;
  border: 19px solid transparent;
  border-left: 19px solid var(--basic-red);
}

.product-img {
  max-width: 100%;
  width: auto;
  max-height: 164px;
}

.product-item__button {
  width: 100%;
  margin-bottom: 10px;
}

.product-item__button:last-child {
  margin-bottom: 0;
}

.button--icon-start .button__icon {
  margin-right: 9px;
}

.button--green {
  color: var(--basic-white);
  background: var(--basic-green);
  box-shadow: inset 0 -3px 0 var(--green-shadow);
  border-radius: 2px;
}

.button--green:hover {
  background-color: var(--hover-green-button);
}

.button--green:focus {
  background-color: var(--click-green-button);
}

.button--transparency {
  padding-left: 29px;
  padding-right: 29px;
  text-transform: uppercase;
  color: var(--basic-dark);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.button--transparency:hover {
  border-color: var(--basic-dark);
}

.button--transparency:focus {
  opacity: 0.5;
  border-color: var(--basic-dark);
}

.popmanufacturers-item h3 {
  font-size: 18px;
  line-height: 20px;
}

.popmanufacturers-caption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 70px;
  padding: 25px 19px 26px 28px;
  align-items: center;
  background-color: var(--popular-goods-background);
}

.popmanufacturers-caption .button-red {
  padding: 11px 38px 9px 39px;
}

.popmanufacturers-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  align-content: start;
  gap: 20px;
  margin-bottom: 70px;
  grid-column-start: 1;
  object-fit: contain;
}

.popmanufacturers-item a {
  display: flex;
  border: 1px solid var(--border-popgoods);
  text-align: center;
  height: 144px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.popmanufacturers-item a:hover {
  box-shadow: 0 4px 20px var(--border-popgoods);
}

.popmanufacturers-item a:active {
  opacity: 0.3;
  box-shadow: 0 4px 20px var(--border-popgoods);
}

.service-wrapper {
  background: var(--basic-background);
  margin-bottom: 70px;
}

.service {
  display: grid;
  grid-template-columns: 240px 350px 350px;
  padding-top: 64px;
  padding-bottom: 50px;
}

.about-service {
  grid-column: 1/3;
  margin: 0;
  padding-top: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  padding-bottom: 21px;
}

.service-list {
  grid-column-start: 1;
  position: relative;
  padding-top: 49px;
  padding-bottom: 49px;
}
.service-list::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 20px;
  left: 230px;
  top: 0;
  background: url("../img/icon/service-shadow.png") no-repeat;
  z-index: 1;
}

.service-item {
  display: flex;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  background-color: var(--basic-dark);
  box-shadow: 0 1px 0 var(--basic-extra-dark),
    inset 0 1px 0 var(--dark-shadow-service);
  z-index: -1;
}

.service-item a {
  color: var(--basic-white);
  text-transform: none;
  padding: 13.5px 139px 17.5px 22px;
  width: 100%;
}

.service a:hover {
  background-color: var(--basic-extra-dark);
}

.service a:focus,
.service a:active {
  background-color: var(--basic-white);
  color: var(--basic-dark);
}

.checked {
  background: var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-white);
}
.checked a {
  color: var(--basic-dark);
  text-transform: none;
}

.service-info {
  grid-column: 2/-1;
  margin-left: 80px;
  padding-top: 46px;
}
.service-info h2 {
  padding-right: 250px;
}

.delivery {
  background: url("../img/icon/truck.png") no-repeat 100% 67px;
}

.guarantee {
  background: url("../img/pic/medal.png") no-repeat 100% 45px;
}

.credit {
  background: url("../img/pic/credit.png") no-repeat 100% 45px;
}

.delivery-slide,
.guarantee-slide,
.credit-slide {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  padding-top: 30px;
  padding-right: 250px;
}
.guarantee-slide {
  padding-top: 24.5px;
}
.credit-button {
  padding: 10px 9px 10px 8px;
  margin-top: 26.5px;
  width: 175px;
}

.company {
  display: grid;
  grid-template-columns: 470px 470px;
  margin-bottom: 70px;
}

.info .h2-black {
  padding-bottom: 24px;
}

.shopping {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
}

.transportation {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  padding-top: 30px;
}
.location p {
  font-family: "PT Sans", Arial, sans-serif;
  padding-top: 24px;
  padding-bottom: 32px;
  padding-right: 85px;
  margin: 0;
}

.location {
  margin-left: 169px;
}

.location map {
  cursor: pointer;
}

.location .button-red {
  cursor: pointer;
  padding: 11px 61.5px 9px 61.5px;
  margin-top: 25px;
}

.info .button-red {
  cursor: pointer;
  padding: 11px 40px 9px 40px;
}

.info-list {
  margin-top: 1px;
  margin-bottom: 20px;
  padding-left: 37px;
}
.info-item {
  margin-bottom: 12px;
  position: relative;
}

.info-list li:last-child {
  margin-bottom: 0;
}

.info-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: -36px;
  top: 10px;
  background-color: var(--basic-red);
}

.main-footer {
  background-color: var(--basic-dark);
}
.main-footer p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.main-high-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-contacts p {
  padding-top: 22px;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.footer-site-navigation {
  font-size: 18px;
  line-height: 24px;
  width: 550px;
}

.top-navigation {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.bottom-navigation {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-left: 22px;
}

.top-navigation a:hover {
  text-decoration: underline;
  background-color: inherit;
}

.top-navigation a {
  color: var(--basic-white);
}

.bottom-navigation a {
  color: var(--text-footer-nav);
}
.bottom-navigation a:hover {
  text-decoration: underline;
  background-color: inherit;
}

.top-navigation a:focus {
  text-decoration: underline;
  background-color: inherit;
  opacity: 0.5;
}
.bottom-navigation a:focus {
  text-decoration: underline;
  background-color: inherit;
  opacity: 0.5;
}

.main-low-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-extra-dark);
}

.footer-rulls {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  justify-self: start;
}
.footer-rulls p {
  margin: 0;
  padding: 36px 0 34px 0;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 132px;
  padding-right: 30px;
  padding-top: 5px;
  justify-self: center;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 141px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-top: 34px;
  margin-bottom: 29px;
  margin-left: 1px;
  background-color: var(--soc-media-background);
  border-radius: 25px;
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.feedback {
  margin: 35px 51px 35px 17px;
}
.created {
  margin: 35px 13px 35px 0;
}
.footer-copyright a {
  color: var(--text-footer-nav);
  background-color: var(--basic-extra-dark);
}

.footer-copyright .button:hover {
  text-decoration: underline;
}

.footer-copyright .button:focus {
  color: var(--basic-red);
  text-decoration: none;
}

.inner-page .main-footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.breadcrumbs {
  margin: 21px 40px 20px 55px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  left: -24px;
  top: 2px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a,
.breadcrumbs li {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.home-page {
  position: relative;
}
.home-page::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon/home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-catalog .page-title {
  display: flex;
  justify-content: stretch;
  margin: 20px 0 0 0;
  padding: 29px 0 30px 29px;
  align-items: center;
  background-color: var(--basic-background);
  color: var(--basic-dark);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.template-columns {
  display: grid;
  grid-template-columns: 220px 700px;
  grid-gap: 20px;
}

.catalog-info {
  background: var(--basic-background);
  margin-top: 59px;
  padding-bottom: 68px;
  padding-top: 64px;
}

.catalog-info p {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  padding-top: 25px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}

.pagination-link-current {
  display: block;
  padding: 10px 15px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: none;
}

.pagination-link {
  display: block;
  padding: 10px 15px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 1px solid var(--basic-border);
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.pagination-item li:last-child {
  margin-right: 0;
  padding: 10px 31px 10px 32px;
}

.pagination-link:hover {
  border-color: var(--basic-extra-light);
}

.pagination-link:active {
  border-color: var(--basic-red);
}

.filters {
  width: 220px;
  font-family: "PT Sans", Arial, sans-serif;
}

.range-filter {
  width: 220px;
  margin-top: 10px;
}
.filter-item legend {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--filter-background);
  border-radius: 5px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: var(--scale-color);
}

.range-controls .bar {
  width: 160px;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-color);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-color);
  cursor: pointer;
  outline: none;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}
.range-controls .toggle-min:hover,
.range-controls .toggle-max:hover {
  background-color: var(--basic-green);
}

.range-controls .toggle-min:focus,
.range-controls .toggle-max:focus {
  background-color: var(--click-green-button);
}

.price-controls label {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.price-controls input {
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 5px;
  background: var(--filter-background);
  font-family: inherit;
  font-size: inherit;
}
.price-controls span {
  margin-top: 9px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-option label {
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter legend {
  margin: 0;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.filter label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.manufactor-filter {
  padding-top: 16px;
  padding-bottom: 5px;
  border-top: 1px solid var(--basic-extra-light);
  border-bottom: 1px solid var(--basic-extra-light);
  margin-top: 25px;
  margin-bottom: 18px;
}

.checkbox-filter {
  margin-top: 17px;
  padding: 0;
  padding-right: 8px;
}

.checkbox-filter li {
  margin-bottom: 20px;
}

.power {
  margin: 23px 0 0 0;
  padding-left: 0;
}

.filter-radio {
  margin-bottom: 22.5px;
}

.filter-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 18px;
  background-color: var(--popular-goods-background);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.filter-checkbox {
  position: relative;
  padding-left: 35px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label::after {
  content: "";
  opacity: 0;
  position: absolute;
  left: 4px;
  top: 0;
  width: 22px;
  height: 17px;
  background-size: contain;
  background-image: url("../img/icon/checkbox-line.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:focus + label::after,
.filter-input-checkbox:checked:hover + label::after {
  background-image: url("../img/icon/checkbox-line-hover.svg");
}

.filter-input-checkbox:checked:focus + label::before {
  background-image: url("../img/icon/checkbox-on-focus.svg");
}

.filter-input-checkbox:focus + label::before {
  background-image: url("../img/icon/checkbox-hover.svg");
}

.filter-input-checkbox:checked + label::after {
  opacity: 1;
}

.filter-input-checkbox + label:hover::before {
  background-image: url("../img/icon/checkbox-hover.svg");
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/icon/checkbox-on.svg");
}

.filter-radio {
  position: relative;
  padding-left: 35px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 18px;
  height: 18px;
  border: 4px solid var(--basic-extra-light);
  border-radius: 50%;
}

.filter-input-radio + label::after {
  content: "";
  opacity: 0;
  position: absolute;
  left: 9px;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-extra-light);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  opacity: 1;
}

.filter-input-radio:focus + label::before,
.filter-input-radio:hover + label::before {
  border-color: var(--radio-hover);
}
.filter-input-radio:focus + label::after,
.filter-input-radio:hover + label::after {
  background-color: var(--radio-hover);
}

.sort h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "PT Sans", Arial, sans-serif;
  margin: 20px 0 28px 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--popular-goods-background);
}

.sort {
  display: flex;
  justify-content: space-between;
  padding-left: 19px;
  height: 38px;
}

.sort-values {
  display: flex;
  justify-content: space-between;
  margin-left: 106px;
  list-style: none;
  width: 350px;
  align-items: center;
}

.sort-values a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-red);
}
.values-current a {
  color: rgba(238, 54, 67, 1);
  border: none;
}

.sort-values a:hover {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid var(--basic-red);
}

.sort-values a:focus {
  color: rgba(238, 54, 67, 1);
  border: none;
}

.sort-values a:active {
  color: rgba(238, 54, 67, 1);
  border: none;
}

.course {
  width: 43px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.up {
  width: 0;
  margin-top: 14px;
  margin-left: 46px;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--basic-red);
}

.down {
  width: 0;
  margin-top: 14px;
  margin-left: 21px;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--basic-extra-light);
}

.up:hover {
  border-bottom: 10px solid var(--basic-black);
}
.down:hover {
  border-top: 10px solid var(--basic-black);
}
.up:focus {
  border-bottom: 10px solid var(--basic-red);
}
.down:focus {
  border-top: 10px solid var(--basic-red);
}
.up:active {
  border-bottom: 10px solid var(--basic-red);
}
.down:active {
  border-top: 10px solid var(--basic-red);
}

.filters ul {
  list-style: none;
  line-height: 18px;
}

.filters h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 20px 0 15px 0;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-black);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 24px;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-top: 7px solid var(--basic-red);
  z-index: 1000;
  display: none;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-image: url("../img/icon/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.letter-form {
  padding: 39px 80px 0 80px;
}

.modal-letter {
  width: 620px;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -2000px);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-52%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-48%, -50%);
  }
}

.top-write-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.write {
  width: 220px;
}

.input-name,
.input-e-mail,
.input-textarea {
  margin-top: 11px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  border: 2px solid var(--basic-extra-light);
  border-radius: 2px;
  outline: none;
}

.input-name,
.input-e-mail {
  width: 202px;
  height: 22px;
  padding: 7px 0 7px 12px;
}

.input-textarea {
  width: 444px;
  height: 103.5px;
  padding: 6.5px 0 0 12px;
  margin-bottom: 0;
}

.send-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: -80px;
  margin-right: -80px;
  height: 112px;
  background-color: var(--letter-form-background);
  margin-top: 37px;
}

.modal-button {
  padding: 11px 199px 9px 199px;
  margin: 37px 80px;
}

.letter-form input:hover,
.letter-form textarea:hover,
.letter-form textarea:focus,
.letter-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-red);
}

.modal-map {
  width: 943px;
  height: 449px;
}

.modal-map img {
  display: block;
}
.modal-map iframe {
  border: none;
}

.modal-book {
  width: 620px;
  height: 275px;
}

.book-form {
  padding: 48px 81px;
}

.book-form h2 {
  font-size: 24px;
  line-height: 30px;
}
.message {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.message::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon/icon-mark-ok.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--letter-form-background);
  padding-left: 81px;
  padding-right: 81px;
  margin-left: -81px;
  margin-right: -81px;
  height: 112px;
}

.modal-button-continue {
  padding: 11px 31px 9px 32px;
  margin: 0;
  cursor: pointer;
}

.modal-button-book {
  padding: 11px 46px 9px 47px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
